/* ------------------------------------------| Variables |------------------------------------------------ */
:root{
    /*----------| Primary Color |----------*/
    --md-primary: #0f0f0f;
    --md-primary-variant: #111827;
    --md-on-primary: #ffffff;
    /*--------| Secondary Color (Accent) |--------*/
    --md-secondary: #ffffff;
    --md-secondary-variant: #000000;
    --md-on-secondary: #ffffff;
    /*---------| Completely Color |---------*/
    --md-completely:#00d0ff;
    --md-completely-variant:#00b0d8; 
    /*------| Background & Surface |-------*/
    --md-background: #161c28;
    --md-surface:#1d2432;
    --md-on-background: #ffffff;
    --md-on-surface:#ffffff;
    /*------------| Extra |------------ */
    --border-color-1:#d4d4d4;
    --border-color-2:#2563eb59;
    --md-shadow:  rgba(37, 99, 235, 0.35);
    /*-------------| Typography Scale |---------------*/
    --font-h1: 40px;
    --font-h1-second:36px;
    --font-h1-threeth: 96px;
    --font-subtitle-1: 18px;
    --font-subtitle-2: 16px;
    --font-subtitle-3: 14px;
    --font-button-1: 16px;
    --font-button-2: 14px;
    --font-caption-1: 14px;
    --font-caption-2:12px;
    --font-title-icon-big: 45px;
    --font-title-icon-mediom: 40px;
    --font-title-icon-small: 35px;
    --font-icon-1:15px;
    --font-icon-2:25px;
    --font-icon-3:35px;
}


/* ---------------------------------------------| Tags |-------------------------------------------------- */
*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--md-background);
}
ul{
    list-style: none;
}
.container{
    max-width: 1500px;
    padding: 0 15px;
    margin: 0 0;
}
.my-github{
    width: 0px;
    height: 0px;
    border: 75px solid transparent;
    border-top-color: var(--md-primary);
    border-left-color: var(--md-primary);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
}
.my-github >.my-github-link > i{
    color: var(--md-on-primary);
    font-size: var(--font-title-icon-big);
    position:fixed;
    top: 20px;
    left: 20px;
}
h1,.subtitle{
    margin: 10px auto;
    color: var(--md-on-secondary);
    text-align: center;
    font-family: sans-serif;
    font-weight: 10;
    text-transform: uppercase;
}
.subtitle{
    padding: 150px 10px 0px 10px;
    font-size: var(--font-subtitle-1);
    letter-spacing: 3px;
}
h1{
    padding:0px 10px 15px 10px;
    font-size: var(--font-h1);
    letter-spacing: 2px;
}
.line{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
}
.line li{
    position: relative;
}
.line li button{
    margin: 15px 25px;
}
.caption{
    padding: 5px 10px 20px 10px;
    text-align: center;
    font-family: sans-serif;
    font-size: var(--font-caption-1);
    color: var(--md-on-background);
    display: flex;
    justify-content: center;
    align-items: center;
}
.caption i{
    padding: 10px 0px 10px 10px;
    font-size: var(--font-icon-2);
    color: var(--md-completely);
}
/*-----------------------------------------| button Signup |---------------------------------------------*/
.line li > .btn-signup{
    position: relative;
    width: 160px;
    height: 58px;
    border: 1px solid var(--border-color-1);
    border-radius: 50px;
    background-color: var(--md-primary); 
    color: var(--md-on-primary);
    font-size: var(--font-button-1);
    font-weight: bolder;
    text-transform: uppercase;
    overflow: hidden;
    transform: translate(0, 25px);
    transition: 0.35s;
}
.line li > .btn-signup  span{
    position: absolute;
}
.line li > .btn-signup  span:first-child{
    top: -50%;
    left: 35%;
    transform: translate(-50% ,-50%);
    transition: 0.3s;
}
.line li > .btn-signup  span:nth-child(2){
    top: -70%;
    left: 40%;
    transform: translate(-50% ,-50%);
    transition: 0.4s;
}
.line li > .btn-signup  span:nth-child(3){
    top: -100%;
    left: 45%;
    transform: translate(-50% ,-50%);
    transition: 0.5s;
}
.line li > .btn-signup  span:nth-child(4){
    top: -130%;
    left: 50%;
    transform: translate(-50% ,-50%);
    transition: 0.6s;
}
.line li > .btn-signup  span:nth-child(5){
    top: -160%;
    left: 55%;
    transform: translate(-50% ,-50%);
    transition: 0.7s;
}
.line li > .btn-signup  span:last-child{
    top: -190%;
    left: 60%;
    transform: translate(-50% ,-50%);
    transition: 0.8s;
}
.line li > .btn-signup::before{
    content: 'signup';
    padding: 20px 50px;
    width: 100%;
    height: 100%;
    border: 1px solid var(--md-on-primary);
    border-radius: 50px;
    background-color: var(--md-on-secondary);
    color: var(--md-primary);
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    transition: 0.35s;
}
.line li > .btn-signup:hover::before{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , 115%);
}
.line li > .btn-signup:hover  span:first-child{
    top: 50%;
    left: 35%;
    transform: translate(-50% ,-50%);
}
.line li > .btn-signup:hover  span:nth-child(2){
    top: 50%;
    left: 40%;
    transform: translate(-30% ,-50%);
}
.line li > .btn-signup:hover  span:nth-child(3){
    top: 50%;
    left: 46%;
    transform: translate(-50% ,-50%);
}
.line li > .btn-signup:hover  span:nth-child(4){
    top: 50%;
    left: 54%;
    transform: translate(-50% ,-50%);
}
.line li > .btn-signup:hover  span:nth-child(5){
    top: 50%;
    left: 62%;
    transform: translate(-50% ,-50%);
}
.line li > .btn-signup:hover  span:last-child{
    top: 50%;
    left: 69%;
    transform: translate(-50% ,-50%);
}
/*-----------------------------------------| button Login |---------------------------------------------*/
.line li > .btn-login{
    position: relative;
    width: 160px;
    height: 58px;
    border: none;
    border-radius: 50px;
    background-color: var(--md-primary); 
    color: var(--md-on-primary);
    font-size: var(--font-button-1);
    font-weight: bolder;
    overflow: hidden;
    transition: 0.5s;
}
.line li > .btn-login  span{
    position: relative;
}
.line li > .btn-login::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--md-secondary);
    transform: rotateY(90deg) skew(80deg);
    transition: 0.5s ease;
}
.line li > .btn-login:hover::after{
    transform: rotateY(180deg) skew(-5deg);
}
.line li > .btn-login:hover > span{
    color: var(--md-primary);
    z-index: 2;
}
/*-----------------------------------------| button Submit |---------------------------------------------*/
.line li > .btn-submit{
    position: relative;
    width: 160px;
    height: 58px;
    border:2px solid var(--border-color-2);
    border-radius: 50px;
    background-color: var(--md-primary-variant); 
    color: var(--md-on-primary);
    font-size: var(--font-button-1);
    font-weight: 600;
    overflow: hidden;
    transition: 0.35s;
}
.line li > .btn-submit  span{
    position: relative;
    z-index: 2;
}
.line li > .btn-submit:hover{
    background-color: var(--md-primary);
    transform: translateY(-4px);
    box-shadow: 0 15px 35px var(--md-shadow);
}
/*-----------------------------------------| button Next |---------------------------------------------*/
.line li > .btn-next{
    position: relative;
    width: 160px;
    height: 58px;
    border: none;
    border-radius: 50px;
    background-color: var(--md-primary); 
    color: var(--md-on-primary);
    font-size: var(--font-button-1);
    font-weight: 600;
    overflow: hidden;
    transition: 0.35s;
}
.line li > .btn-next  span{
    position: relative;
    z-index: 2;
}
.line li > .btn-next  span i{
    font-size: var(--font-icon-2);
    opacity: 0;
    transition: 0.5s;
}
.line li > .btn-next::before{
    content: '';
    position: absolute;
    border-radius: 50px;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--md-completely);
    transition: 0.45s ease;
}
.line li > .btn-next:hover::before{
    left: 0;
}
.line li > .btn-next:hover{
    transform: translateY(-4px);
    box-shadow: 0 15px 35px var(--md-shadow);
}
.line li > .btn-next:hover span i{
    opacity: 1;
}
/*-----------------------------------------| button Explore |---------------------------------------------*/
.line li > .btn-explore{
    position: relative;
    width: 160px;
    height: 58px;
    border: none;
    border-radius: 50px;
    background-color: var(--md-primary); 
    color: var(--md-on-primary);
    font-size: var(--font-button-1);
    font-weight: 600;
    overflow: hidden;
    transition: 0.35s;
}
.line li > .btn-explore span{
    color: white;
    position: absolute;
    top: 50%;
    left: 60%;
    transform:translate(-50% , -50%)
}
.line li > .btn-explore span i{
    font-size: var(--font-icon-1);
    color: var(--md-on-secondary);
    position: absolute;
    top: 200%;
    left:-127%;
    transition: 0.2s;
    z-index: 50;
} 
.line li > .btn-explore::before{
    content: '';
    width: 23px;
    height: 23px;
    background-color: var(--md-secondary);
    border-radius: 50%;
    position: absolute;
    top: 30%;
    left: 12%;
}
.line li > .btn-explore > i{
    font-size: var(--font-icon-1);
    color: var(--md-primary);
    position: absolute;
    top: 40%;
    left: 14%;
    transition: 0.2s;
    z-index: 2;
}

.line li > .btn-explore:hover{
    background-color: var(--md-completely);
}
.line li > .btn-explore:hover span i{
    opacity: 1;
    top: 13%;
    left: -75%;
    z-index: 5;
}
.line li > .btn-explore:hover i{
    opacity: 0;
    color: var(--md-completely);
    top: -100%;
    left: 65%;
}
/*-----------------------------------------| button Download |---------------------------------------------*/
.line li > .btn-download{
    position: relative;
    width: 160px;
    height: 58px;
    border: none;
    border-radius: 50px;
    background-color: var(--md-primary); 
    color: var(--md-on-primary);
    font-size: var(--font-button-1);
    font-weight: 600;
    overflow: hidden;
    transition: 0.35s;
}
.line li > .btn-download > i{
    font-size: var(--font-icon-3);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50% , 50%);
    opacity: 0;
    transition: 0.2s ease-in;
}
.line li > .btn-download span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    transition: 0.2s ease-out;
}
.line li > .btn-download:hover{
    background-color: var(--md-completely);
}
.line li > .btn-download:hover span{
    top: -80%;
    left: 50%;
    transform: translate(-50% , 0%);
    opacity: 0;
}
.line li > .btn-download:hover i{
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    opacity: 1;
}
/*-----------------------------------------| button Send |---------------------------------------------*/
.line li > .btn-send{
    position: relative;
    width: 160px;
    height: 58px;
    border: none;
    border-radius: 50px;
    background-color: var(--md-secondary); 
    color: var(--md-primary);
    font-size: var(--font-button-1);
    font-weight: 600;
    overflow: hidden;
    transition: 0.35s;
}
.line li > .btn-send > i.letter{
    transform-origin: center;
    position: absolute;
    top: 45%;
    left: 25%;
    transform:translate(-25% , -45%) rotate(-45deg);
    transform-origin: center;
    transition: 0.35s ease-in-out;
}
.line li > .btn-send > i.checked{
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-15%,-50%);
    font-size: var(--font-icon-2);
    font-weight: 100;
    opacity: 0;
    transition-delay: 1.5s;
}
.line li > .btn-send span.sent-s{
    position: absolute;
    top: 100%;
    left: 40%;
    transform: translate(-40%,0%);
    transition: 0.2s;
    transition-delay: 1s;
}
.line li > .btn-send span.sent-e{
    position: absolute;
    top: -100%;
    left: 47%;
    transition: 0.6s;
    transition-delay: 1s;
    transform: translate(-40%,0);
}
.line li > .btn-send span.sent-n{
    position: absolute;
    top: 100%;
    left: 54%;
    transition: 0.2s;
    transition-delay: 1s;
    transform: translate(-40%,0%);
}
.line li > .btn-send span.sent-t{
    position: absolute;
    top: -40%;
    left: 61%;
    transition: 0.2s;
    transition-delay: 1s;
    transform: translate(-40%,0%);
}
.line li > .btn-send span.send{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 60%;
    transform: translate(-60% , -50%);
    transition: 0.5s 0.5s ease-in;
}
.line li > .btn-send:hover span.send{
    width: 0;
    opacity: 0;
    letter-spacing: 10px;
}
.line li > .btn-send:hover i.letter{
    top: 45%;
    left: 25%;
    transform:translate(-25% , -45%) rotate(1deg);
    animation: ZoomOutRight 1s ease;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}
.line li > .btn-send:hover i.checked{
    opacity: 1;
    animation: rubberBand 2s ease;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    top: 30%;
    left: 20%;
    transform: translate(-15%,-50%); 
}
.line li > .btn-send:hover span.sent-s{
    top: 50%;
    left: 40%;
    transform: translate(-40%,-50%);
}
.line li > .btn-send:hover span.sent-e{
    top: 50%;
    left: 47%;
    transform: translate(-40%,-50%);
}
.line li > .btn-send:hover span.sent-n{
    top: 50%;
    left: 54%;
    transform: translate(-40%,-50%);
}
.line li > .btn-send:hover span.sent-t{
    top: 50%;
    left: 60%;
    transform: translate(-40%,-50%);
}
.line li > .btn-send:not(:hover) span.sent-s,
.line li > .btn-send:not(:hover) span.sent-e,
.line li > .btn-send:not(:hover) span.sent-n,
.line li > .btn-send:not(:hover) span.sent-t{
    visibility: hidden;
}
/*-----------------------------------------| button Get Started |---------------------------------------------*/
.line li > .btn-get-started{
    position: absolute;
    width: 160px;
    height: 58px;
    border: none;
    border-radius: 50px;
    background-color: var(--md-completely); 
    color: var(--md-on-primary);
    font-size: var(--font-button-1);
    font-weight: 600;
    overflow: hidden;
    transition: 0.35s;
}
.line li > .btn-get-started:hover{
    animation: rubberBand 1s ease;
    transform-origin: center;
}



@keyframes ZoomOutRight{
    40%{
        opacity: 1;
        transform: scale3d(0.475,0.475,0.475) translate3d(-42px , 0 ,0);
    }
    100%{
        opacity: 0;
        transform: scale3d(0,10,20) translate3d(2000px , 0 ,0);
        transform-origin: top top;
    }
}



@keyframes rubberBand{
    0%{
        transform: scale3d(1,1,1);
    }
    30%{
        transform: scale3d(1.25,0.75,1);
    }
    40%{
        transform: scale3d(0.75 , 1.25,1);
    }
    50%{
        transform: scale3d(1.15,0.85,1);
    }
    65%{
        transform: scale3d(0.95,1.05,1);
    }
    75%{
        transform: scale3d(1.05 , 0.95, 1);
    }
    100%{
        transform: scale3d(1,1,1);
    }
}